@media screen and (min-width: 1024px) {
    header {
        /* Setting up grid display */
        grid-template-columns: 1fr 4fr 1fr;
    }
}


/* Select the body element */

body {
    /* Resetting margins and paddings */
    padding: 0;
    margin: 0;
    /* Setting up grid display */
    display: grid;
    grid-template-rows: 64px auto;
}

/* Select the header element */

header {
    /* Positioning the header */
    grid-row: 1 / span 1;
    /* Setting up grid display */
    display: grid;
    grid-template-columns: 1fr;
    background-color: brown;
}

/* 
 * Select elements with the 'content' class
 * and have the header element as a parent 
 */

header>.content {
    /* Setting up grid display */
    display: grid;
    grid-template-columns: 64px 1fr 256px;
    /* Center items inside header vertically */
    align-items: center;
    /* Center items inside header horizontally */
    justify-items: center;
    grid-column: 2 / span 1;
}

/* 
 * Select elements with the 'section' class
 * and are inside a header element 
 */

header .section {
    height: 64px;
    width: 100%;
    /* Make display: grid to center elements easily */
    display: grid;
}

/* 
 * Select elements with the 'section' class
 * and are inside a header element
 * and are being hovered
 */

header .section:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Select these elements with these classes */

.home-btn,
.auth,
.search {
    /* Center selected items */
    justify-self: center;
    align-self: center;
}

/* Select the main element */

main {
    /* Position main */
    grid-row: 2 / span 1;
}

input[type=text] {
    width: 100%;
}

header .search {
    width: 100%;
    height: 32px;
    display: grid;
    grid-template: 1fr / 1fr 3fr 1fr 64px;
    grid-column-gap: 8px;
}