body {
    display: grid;
    grid-template: 64px 1fr / 1fr;
    background: rgb(245, 245, 245);
}

header {
    width: 100%;
    position: fixed;
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;
    display: grid;
    grid-template: 1fr / 1fr;
    background-color: rgb(var(--primary-light));
    box-shadow: 0px 2px 3px 1px rgba(128, 128, 128, 0.3);
}

main {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    border: 1px solid rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 1fr;
}

.header-content {
    grid-column: 1 / span 1;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template: 1fr / 1fr 206px;
    grid-column-gap: 8px;
}

.search {
    display: grid;
    grid-row-gap: 8px;
    grid-column-gap: 8px;
    grid-template-columns: 64px 152px 256px 128px 86px;
    align-items: center;
}

.header-section {
    width: 100%;
}

.search-suburb {
    display: grid;
    grid-template-columns: 128px 24px;
    align-items: center;
    justify-items: center;
}

.search-suburb .suburb-location {
    fill: rgb(128, 128, 128);
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(128, 128, 128);
    height: 100%;
    box-sizing: border-box;
    display: grid;
    align-items: center;
    justify-items: center;
}

.suburb-input:focus+.suburb-location {
    border-bottom: 2px solid rgb(var(--primary-normal));
    box-shadow: 0px 2px 1px rgba(128, 128, 128, 0.3);
}

.search .suburb-input,
.search>.search-rating {
    width: 112px;
}

.search>.search-name {
    width: 240px;
}

.auth {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    grid-column-gap: 8px;
}

@media screen and (min-width: 1024px) {
    body {
        grid-template: 64px 1fr / 1fr minmax(1024px, 1fr) 1fr;
    }
    main {
        grid-column: 2 / span 1;
    }
    header {
        grid-template: 1fr / 1fr 1024px 1fr;
    }
    .header-content {
        grid-column: 2 / span 1;
    }
}