/* Colour scheme
 * Priamry: #2196f3
 * Secondary: #6ec6ff
 * Accent: #00e5ff
 */

@import url('https://fonts.googleapis.com/css?family=Roboto');
/* Importing Google's Roboto Font */

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
/* Importing Google's Material Icons */

/* Styling for mobile/small screen sizes 
 */

body {
    /* Makes it easier to style site in such a way that it is responsive */
    display: flex;
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
}

main {
    padding: 64px 0px;
    /* Set box-sizing mode to border box to include padding
    * in width and height
    */
    box-sizing: border-box;
    /* Set width to viewport width */
    width: 100vw;
    /* Clamp size to 100% so that there is no
     * x-overflow when a scrollbar is present.
     */
    max-width: 100%;
}

header,
footer {
    /* Make header persistent */
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2196f3;
    /* Set width to viewport width */
    width: 100vw;
    /* Clamp size to 100% so that there is no
     * x-overflow when a scrollbar is present.
     */
    max-width: 100%;
    height: 64px;
    z-index: 5;
}

header{
    /* Giving header a box shadow to give elevation effect*/
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

footer {
    /* Giving footer a box shadow to give elevation effect*/
    box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.3);
    
    /* Unset top */
    top: auto;
    bottom: 0;
}

a,
a:visited {
    /* Getting rid of underline*/
    text-decoration: none;
    /* Have anchor inherit its font colour */
    color: inherit;
    /* Visual feedback that this is 'clickable' */
    cursor: pointer;
}

label {
    /* Make labels grey so they don't draw as much attention
     * as the item it's labelling
     */
    color: #808080;
}

input[type="text"],
input[type="password"] {
    font-size: 1em;
    /* White-space */
    padding: 8px 8px;
    /* Clamp size to 100% so that there is no
     * x-overflow when a scrollbar is present.
     */
    max-width: 100%;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid #808080;
    outline: none;
    /* Set box-sizing mode to border box to include padding
    * in width and height
    */
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="password"]:focus {
    /* Visual feedback that text-input is focused */
    border-bottom: 2px solid #2196f3;
}

input[type="submit"] {
    /* This prevents devices from using platform-native styles*/
    -webkit-appearance: none;
    -moz-appearance: none;
    /* Overiding browser defaults */
    border: 0;
    border-radius: 2px;
    padding: 8px 16px;
    background-color: #2196f3;
    color: #ffffff;
    font-size: 1em;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    /* Visual feedback that this is a button */
    cursor: pointer;
}

.hidden-input {
    display: none;
}

/* Setting up some font size classes
 */

.h1 {
    font-size: 2em;
}

.h2 {
    font-size: 1.8em;
}

.h3 {
    font-size: 1.6em;
}

.h4 {
    font-size: 1.4em;
}

.h5 {
    font-size: 1.2em;
}

.header-section {
    /* Set height to fill available space */
    height: 100%;
}

.header-content {
    /* Position header items */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Change header items colour */
    color: #ffffff;
}

.list {
    /* set background-color and color of list */
    background-color: #ffffff;
    color: #808080;
    /* set width to fill available space */
    width: 100%;
}

.list-item {
    /* Set box-sizing mode to border box to include padding
    * in width and height
    */
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    /* line-height: 1.5em; */
    padding: 0 16px;
    /* Set display to flex to easily vertically center items */
    display: flex;
    align-items: center;
}

.list-item:hover {
    /* Visual feedback for the user when hovering over list items */
    background-color: rgba(0, 0, 0, 0.1);
}

.list-item-multiline {
    /* Set box-sizing mode to border box to include padding
    * in width and height
    */
    box-sizing: border-box;
    width: 100%;
    padding: 16px 16px;
    /* Set display to flex to easily vertically center items */
    display: block;
    align-items: center;
}

.list-item-multiline:hover {
    /* Visual feedback */
    background-color: rgba(0, 0, 0, 0.1);
}

.list-item-row {
    /* Whitespace */
    padding: 8px 0px;
    /* Make element width 100% of parent/container width */  
    width: 100%;
}

.list-item-title {
    /* Style element so that it looks nice */
    font-size: 1em;
    color: #000000;
}

.list-item-subheading {
    /* Style element so that it doesn't draw as much attention
     * as the title.
     */
    padding: 0;
    font-size: 0.80em
}

.list-icon {
    /* Sizing */
    font-size: 2em;
    /* White-space */
    margin-right: 16px;
}

.form-error {
    display: none;
    width: 100%;
    margin-top: 8px;
    padding: 8px;
    /* Set box-sizing mode to border box to include padding
     * in width and height
     */
    box-sizing: border-box;
    /* Thick red border to draw attention to the error */
    border: 2px solid #f44336;
    border-radius: 3px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    font-size: 1em;
}

.form-error-active {
    /* Show the error */
    display: block;
    /* Play the animation */
    animation-iteration-count: 1;
    animation-name: OpacityFadeIn;
    animation-timing-function: ease-in;
    animation-duration: 0.15s;
}

.dropdown {
    color: #808080;
    /* set position to relative so the dropdown content
     * can be positioned relative to the dropdown container
     */
    position: relative;
}

.dropdown-content {
    display: none;
    background-color: #ffffff;
    /* Set position to absolute to position element
    * in to relation to the document
    */
    position: absolute;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.dropdown-trigger {
    /* Centering button */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    /* Change cursor */
    user-select: none;
    cursor: pointer;
}

.dropdown-trigger i {
    /* Styling icons inside dropdown-trigger */
    color: #ffffff;
    font-size: 2em;
}

.dropdown-active {
    /* Show the dropdown */
    display: block;
    /* Play the animation */
    animation-iteration-count: 1;
    animation-name: OpacityFadeIn;
    animation-timing-function: ease-in;
    animation-duration: 0.15s;
}

.load-container {
    /* hide as default */
    display:none;

    /* Set position to absolute so that
     * it isn't taking space on the document
     */
    position: absolute;

    /* Position contianer */
    top: 0;
    left: 0;

    /* Setting background */
    background-color: rgba(0, 0, 0, 0.3);
    
    /* Setting dimensions to be 100% of parent */
    width: 100%;
    height: 100%;

    /* Set z-index so that loader is above */
    z-index: 100;
}

.load-spinner {
    position: absolute;

    /* Centering */
    top: 50%;
    left: 50%;

    /* re-position so that it's at true center of parent */
    margin-top: -12px;  
    margin-left: -12px;

    /* Quick way to get a circle */
    border-radius: 50%;

    /* Setting borders */
    border: 4px solid #f3f3f3;
    border-top: 4px solid #2196f3;
    
    /* Setting dimensions */
    height: 24px;
    width: 24px;

    /* Play spin animation */
    animation: spin 1s linear infinite;
}

@keyframes OpacityFadeIn {
    /* Set opacity to 0 at start */
    0% {
        opacity: 0;
    }
    /* Set opacity to 1 by the end of animation */
    100% {
        opacity: 1;
    }
}

@keyframes spin {
    /* Rotation 0deg at 0% (start of animation) */
    0% {
        transform: rotate(0deg);
    }
    /* Rotation 360deg at 100% (end of animation) */
    100% {
        transform: rotate(360deg);
    }
}

#header-logo {
    /* Centering and sizing logo */
    font-size: 1.5em;
    text-align: center;
    align-self: center;
}

#search,
#menu {
    /* Overiding position:relative from .dropdown */
    position: static;
}

#menu-content {
    /* Set position to absolute to position element
     * in to relation to the document
     */
    position: absolute;
    top: 64px;
    left: 0px;
    /* Set width to viewport width */
    width: 100vw;
    /* Clamp size to 100% so that there is no
     * x-overflow when a scrollbar is present.
     */
    max-width: 100%;
}

#search-content {
    /* Set position to absolute to position element
     * in to relation to the document
     */
    position: absolute;
    top: 64px;
    right: 0;
    /* Whitespace */
    padding: 16px 16px;
    box-sizing: border-box;
    /* Set width to viewport width */
    width: 100vw;
    /* Clamp size to 100% so that there is no
     * x-overflow when a scrollbar is present.
     */
    max-width: 100%;
}

#search-mode,
#search-field {
    /* Whitespace */
    margin-bottom: 0px;
}

#search-mode-trigger,
#search-field,
#search-field-trigger {
    /* Set display to block becuase it's currently
     * inheriting display:flex from its parent
     */
    display: block;
}

#search-mode-content,
#search-mode-trigger,
#search-mode input[type="text"],
#search-field-content,
#search-field-trigger,
#search-field input[type="text"] {
    /* Change box-sizing to border-box to make sure
     * paddings and margins are included in width/height.
     */
    box-sizing: border-box;
    width: 100%;
}

#search-mode input[type="text"],
#search-field input[type="text"] {
    /* Visual feedback that these are buttons */
    cursor: pointer;
}

#search-field-content {
    /* Set max-height so the list scrolls */
    max-height: 50vh;
    /* Set overflow-y to auto so the list scrolls */
    overflow-y: auto;
}

#search-submit {
    /* change display to flex so easily center */
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-list {
    /* Styling the list so that it fits its context */
    display: flex;
    background-color: transparent;
    color: #ffffff;
    justify-content: center;
}

#footer-about-us,
#footer-contact-us {
    height: 64px;
    justify-content: center;
}

/* Styling for desktop/big screens sizes
 */

@media only screen and (min-width: 860px) {
    .header-content {
        /* Justifying content to the right */
        justify-content: flex-end;
    }
    #header-logo {
        /* Change flex order */
        order: 1;
        /* Make width fill available space to text-align easily */
        width: 100%;
        /* Align text to the left */
        text-align: left;
        /* White-space */
        margin: 0 16px;
    }
    #menu {
        /* Change flex order */
        order: 2;
        width: 420px;
        /* Using 'width' alone doesn't seem to work for IE11 maybe
         * because IE11 will use min-width despite having width specified
         */
        min-width: 420px;
    }
    #menu-trigger {
        /* Hide trigger as it's no longer needed */
        display: none;
    }
    #menu-content {
        /* Easily get list items on 1 line */
        display: flex;
        /* Overiding position:absolute so flex position is used */
        position: relative;
        /* Justifying buttons */
        justify-content: flex-end;
        /* Overriding top: 64px */
        top: 0;
        /* Overiding background-color: #ffffff */
        background-color: transparent;
        /* Overiding box-shadow */
        box-shadow: none;
        /* Set height to match header height */
        height: 64px;
    }
    #menu-content .list-item {
        width: 140px;
        /* Using 'width' alone doesn't seem to work for IE11 maybe 
         * because IE11 will use min-width despite having width specified
         */
        min-width: 140px;
        /* Set height to 100% so that hover effect is covers menu height */
        height: 100%;
        /* Overiding color */
        color: #ffffff;
    }
    #search {
        /* Change flex order */
        order: 3;
    }
    #search-content {
        /* Override width fill */
        max-width: 600px;
    }
    #search-content>form {
        /* Make form width fill available space of parent*/
        width: 100%;
        display: flex;
    }
    #search-mode {
        position: relative;
        /* Setting inital width */
        flex-basis: 100px;
        /* Setting growth ratio */
        flex-grow: 1;
        /* white-space */
        margin-right: 16px;
    }
    #search-field {
        /* Setting growth ratio */
        flex-grow: 3;
        /* White-space */
        margin-right: 16px;
    }
    #footer-list {
        width: 160px;
    }
}