/* Find your Wi-Fi search page stylesheet */

/* REVIEW: Appearance may change in other browsers */


/* background image */
#background_image {
    width: 100%;
    height: 100%;
    border: none;
    background-size: cover;
    /*background-image: url("images/e.jpg");*/
}

/* Principal div: contains all header and content elements */
#principal {
  width: 710px;
  height: 100%;
  margin-left: 25%;
}

/********** Header part **********/

/* Div section for header elements */
#header {
  width: 710px;
  height: 20px;
}

/* Wi-fi image */
div img {
  display: inline-block;
  margin-top: 15px;
  margin-right: 7px;
  float: left;
}

/* Brisbane name */
div p {
  margin-top: 20px;
  float: left;
  font-family: consolas;
  font-style: italic;
  font-size: 25px;
  color: #2B98F0;
  display: inline-block;
}

/* Header for login and signup buttons */
div header {
  float: right;
  padding-right: 40px;
  margin-top: 30px;
}

/* For login and signup buttons */
.headerbutton {
  width: 90px;
  height: 40px;
  font-family: calibri;
  font-size: 16px;
  border-radius: 5px;
  border-style: groove;
  border-width: 3px;
  border-color: white;
  color: #2B98F0;
  background-color: transparent;
  transition-property: all;
  transition-duration: 200ms;
}

.headerbutton:hover {
  border: none;
  color: white;
  background-color: #2B98F0;
}

/* Just to modify space between the two buttons */
#signup {
  margin-right: 15px;
}

/********** Content part **********/

/* Div section with the neccessary elements to search a Wi-Fi */
#content {
  width: 520px;
  margin-left: 60px;
}

/* Title of the web page (Find your Wi-Fi) */
div h1 {
  text-align: center;
  margin-top: 25%;
  font-family: consolas;
  color: #2B98F0;
}

div h1:hover {
  cursor: default;
}

/* Text button to write the name of the wifi */
#name {
  width: 506px;
  height: 40px;
  padding-left: 6px;
  font-size: 16px;
  border-radius: 8px;
}

/* Class for the div section of the suburb dropdown bar */
.suburb {
  width: 250px;
  height: 40px;
  display: inline-block;
}

/* Suburb dropdown bar */
#suburb {
  width: 250px;
  height: 40px;
  margin-top: 15px;
  display: inline-block;
  background-color: white;
  font-family: verdana;
  border-radius: 5px;
}

/* Class for the div section of the rating dropdown bar */
.rating {
  width: 250px;
  height: 40px;
  display: inline-block;
}

/* Rating dropdown bar */
#rating {
  width: 250px;
  height: 40px;
  margin-top: 15px;
  margin-left: 10px;
  background-color: white;
  font-family: verdana;
  border-radius: 5px;
}

/* Class for the div section of the location */
.location {
  height: 35px;
  width: 245px;
  margin-top: 25px;
  background-color: white;
  display: inline-block;
  border-style: groove;
  border-width: thin;
  border-radius: 5px;
}

/* Label of the location section */
div label {
  margin-left: 5px;
  padding-left: 5px;
}

/* Location checkbox */
#location {
  width: 50px;
  margin-top: 10px;
  margin-left: 30px;
}

/* Search button */
#search {
  height: 40px;
  width: 110px;
  margin-right: 50px;
  margin-top: 30px;
  float: right;
  border-style: groove;
  border-radius: 5px;
  font-family: calibri;
  font-size: 19px;
  font-weight: bold;
  transition-property: all;
  transition-duration: 100ms;
}

#search:hover {
  background: url("images/lupa-blue.png") no-repeat center center;
  background-color: white;
  border-style: groove;
  color: transparent;
  border-color: lightgray;
}

/* Class to change the cursor to pointer in every button */
.button {
  cursor: pointer;
}

/**** Footer part ****/

footer {
  margin-top: 20%;
  margin-left: 20%;
  color: #2B98F0;
  font-family: consolas;
  font-size: 15px;

}
