/* Find your Wi-Fi article page stylesheet */

/* Header */

#header{
  background-color: #2B98F0;
  height: 10%;
  width: 100%;
}

/* Wi-fi image */
#wifi {
  display: inline-block;
  margin-top: 5px;
  margin-right: 7px;
  margin-left: 5px;
  float: left;
}

#header p {
  display: inline-block;
  text-align: left;
  color: white;
}

div header {
  height: 47px; /* Correct: set the height without px */
  display: inline-block;
  float: right;
}

/* For login and signup buttons */
.headerbutton {
  width: 100px;
  height: 100%;
  font-family: calibri;
  font-size: 16px;
  border-style: none;
  color: white;
  background-color: transparent;
  transition-property: all;
  transition-duration: 200ms;
}

.headerbutton:hover {
  border: none;
  color: white;
  background-color: #2789D7; /* dark blue */
}

button p {
  display: inline-block;
  text-align: right;
}

#home img{
  display: inline-block;
  float: left;
  margin-top: 15px;
}

#signup img{
  display: inline-block;
  float: left;
  margin-top: 15px;
}

#login img{
  display: inline-block;
  float: left;
  margin-top: 15px;
}

#search {
  width: 60px;
  height: 100%;
  display: inline-block;
}

/* Div for searching window */
#search_window {
  display: none;
  width: 40%;
  height: 70px;
  float: right;
  margin-top: 5px;
  border-radius: none;
  box-shadow: 5px 10px 8px #888888;
  border-color: lightgray;
  border-width: 5px;
}

#type-name {
  font-family: calibri;
  font-size: 17px;
  display: inline-block;
  float: right;
  margin-bottom: 20px;
}

#type-name p {
  padding: 0px;
}
.choose {
  font-family: calibri;
  font-size: 17px;
  margin-left: 12px;
  display: inline-block;
}

label {
  margin-bottom: 5px;
}

/* End of header part */

/* Content */
#content {
  height: 100%;
  width: 100%;
}

#maps {
  background-color: red;
  width: 20%;
  height: 20%;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
}




/* Class to change the cursor to pointer in every button */
.button {
  cursor: pointer;
}
